<%= form_for @campaign do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>    
    <%= hidden_field_tag "campagne_campagne_campaign[campagne_list_ids][]", nil%>
    <% Campagne::CampagneList.all.each do |list| %>
      <%= check_box_tag "campagne_campagne_campaign[campagne_list_ids][]", list.id, @campaign.campagne_list_ids.include?(list.id), id: dom_id(list) %>
      <%= label_tag dom_id(list), list.name %><br/>
    <% end %>
  </p>
  <p><%= f.submit 'Create Campaign' %></p>
<% end %>
